# Файл .env не обязателен, можно загрузить переменные вручную

# Основные переменные
DB_DSN=postgres://fincraft_user:fincraft_password@localhost:5432/fincraft_db?sslmode=disable
METRICS_PORT=9091

# Тестовые переменные
TEST_DB_DSN=postgres://test_user:test_password@localhost:5433/test_db?sslmode=disable

# Тестовые переменные используются только для тестов